<div class="container-main">
    <div class="row-list">
        {{#each Notas}}
            <div class="col-md-3">
                <div class="custom-card">
                    <h3 class="custom-card-title">
                        {{taskname}}
                    </h3>
                    <p class="custom-card-description">{{body_task}}</p>
                    <p class="custom-card-time">{{duedate}}</p>
                    <p class="custom-card-time">{{timeago Created_at}}</p>
                    <a href="links/delete/{{id_task}}" class="custom-btn">Delete Note</a>
                    <a href="/links/edit/{{id_task}}" class="custom-btn">Edit</a>
                </div>
            </div>
        {{else}}
        <div class="col-md4 mx-auto">
            <div class="custom-card custom-text-center">
                <h1 class="h1-list">No hay Notas Perronas guardadas</h1>
                <a href="/links/add" class="custom-btn">Crear Nota</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>